div{
    border: 5px solid black; border-radius: 30px; margin: 10px; padding: 10px;
}
a:hover{
    background-color: rgb(209, 163, 163);
}
nav ul{
    border: 5px solid black; border-radius: 30px; margin: 10px; padding: 10px;
    list-style-type: none;
    padding: 10px;
    display: flex;
    gap: 20%;
    font-size: 200%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
nav ul li a{
    text-decoration: none;
}